@tailwind base;

@layer base {
  @font-face {
    font-family: "Noi Grotesk Trial";
    src: url("https://res.cloudinary.com/mohammadbilalmansuri/raw/upload/v1737255992/zelt/fonts/noigrotesktrial_light.woff2");
    font-weight: 300;
    font-style: normal;
  }

  @font-face {
    font-family: "Noi Grotesk Trial";
    src: url("https://res.cloudinary.com/mohammadbilalmansuri/raw/upload/v1737255993/zelt/fonts/noigrotesktrial_regular.woff2");
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: "Noi Grotesk Trial";
    src: url("https://res.cloudinary.com/mohammadbilalmansuri/raw/upload/v1737255993/zelt/fonts/noigrotesktrial_medium.woff2");
    font-weight: 500;
    font-style: normal;
  }

  @font-face {
    font-family: "Noi Grotesk Trial";
    src: url("https://res.cloudinary.com/mohammadbilalmansuri/raw/upload/v1737255993/zelt/fonts/noigrotesktrial_semibold.woff2");
    font-weight: 600;
    font-style: normal;
  }

  @font-face {
    font-family: "Noi Grotesk Trial";
    src: url("https://res.cloudinary.com/mohammadbilalmansuri/raw/upload/v1737255992/zelt/fonts/noigrotesktrial_bold.woff2");
    font-weight: 700;
    font-style: normal;
  }

  @font-face {
    font-family: "Noi Grotesk Trial";
    src: url("https://res.cloudinary.com/mohammadbilalmansuri/raw/upload/v1737255992/zelt/fonts/noigrotesktrial_black.woff2");
    font-weight: 800;
    font-style: normal;
  }

  * {
    box-sizing: border-box;
    font-family: "Noi Grotesk Trial", sans-serif;
  }

  ::selection {
    @apply bg-orange text-black;
  }

  video {
    filter: grayscale(0);
  }
}

@tailwind components;

@layer components {
  .gradientbg {
    @apply bg-gradient-to-r from-[#E3DDD8] to-[#E2DED8];
  }

  .h1 {
    @apply xl:text-8xl lg:text-7xl md:text-6xl xs:text-5xl text-4xl;
  }

  .h2 {
    @apply xl:text-7xl lg:text-6xl md:text-5xl xs:text-4xl text-3xl;
  }

  .h3 {
    @apply xl:text-6xl lg:text-5xl md:text-4xl xs:text-3xl text-2xl;
  }

  .btn-orange {
    @apply px-5 py-3 text-black bg-orange hover:bg-orange/85 transition-all rounded-lg text-lg;
  }

  .btn-black {
    @apply px-5 py-3 bg-black/90 hover:bg-black text-white hover:text-white rounded-lg text-lg;
  }

  .t1 {
    @apply xl:text-2xl lg:text-xl text-lg;
  }

  .t2 {
    @apply lg:text-xl text-lg;
  }

  .tabBtn {
    @apply flex items-center lg:gap-1 gap-2 lg:text-black/60 text-black lg:text-lg lg:bg-transparent bg-white lg:rounded-none rounded-md lg:px-0 px-4 lg:py-0 py-1.5;
  }

  .activeTabBtn {
    @apply text-black lg:bg-transparent bg-orange;
  }

  .activeTabBtn span:first-child {
    @apply lg:opacity-100;
  }
}

@tailwind utilities;
